[Desktop Entry]
Type=Application
Version=1.0
Name=BKChem
GenericName=Structural formulas
GenericName[de]=Strukturformeln
GenericName[fr]=Formules développées
GenericName[nl]=Structuurformule
Comment=2D chemical structure formula editor for molecules
Comment[de]=2D-Strukturformeln für Moleküle zeichnen
Comment[fr]=Dessiner des formules développées planes
Icon=org.zirael.bkchem.BKChem
Exec=bkchem
Path=~
Terminal=false
MimeType=image/svg+xml;text/xml;
Categories=Science;Chemistry;
StartupNotify=true
